<a href="https://colab.research.google.com/github/Jatingpt/practice_file/blob/main/practice_file.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Reverse a string using slicing and withoud slicing.
st = "ris olleh"
rev_str = " "
for i in st:
  rev_str = i + rev_str
print(rev_str)

hello sir

In [ ]:
#same above question.
st = "ris olleh"
st = st[::-1]
st

'hello sir'

In [ ]:
#Check if a string a palindrome or not.
n = "madam"
if n == n[::-1]:
  print('Yes, It is a palindrome.')
else:
  print('Not a palindrome.')

Yes, It is a palindrome.

In [ ]:
#Find a second largest number in a list.
list_num = [45, 43, 12, 67]
list_num.sort(reverse = True)
list_num[1]

45

In [ ]:
#Write a function to find the factorial of a number.
def fact(n):
  if n == 1:
    return n
  else:
    return n * fact(n-1)
fact(5)

120

In [ ]:
def even_odd(num):
  if num % 2 == 0:
    print('It is an even number.')
  else:
    print('Odd number.')
even_odd(9)

Odd number.

In [ ]:
#Write a function to check whether the number is prime or not.
def check_prime(n):
  if n == 1:
    print('Not Prime')
  if n >= 2:
    for i in range(2,n):
      if n % i == 0:
        print('Not a prime number.')
        break
    else:
      print('Prime number.')
check_prime(9)

Not a prime number.

In [ ]:
#Swap two variable.
a = 45
b = 43
a,b = b,a
print(a)
print(b)

43
45

In [ ]:
#Write a program for the first 10 numbers and their square.
for i in range(1,11):
  print(i, i*i)

1 1
2 4
3 9
4 16
5 25
6 36
7 49
8 64
9 81
10 100

In [ ]:
#Write a program to find the sum for first 20 number.
sum = 0
for i in range(1,21):
  sum += i
print(sum)

210

In [ ]:
#Write the sum of first 10 even number.
sum = 0
for i in range(1,21):
  if i % 2 == 0:
    sum += i
print(sum)

110

In [ ]:
#Write a program to check whether the passed letter is a vowel or not.
vow = input('Enter the letter to check whether it is a vowel or not: ')
if vow in 'AEIOUaeiou':
  print('Yes, it is a vowel')
else:
  print('Not a vowel')

Enter the letter to check whether it is a vowel or not: e
Yes, it is a vowel

In [ ]:
#Write your name, age and salary also format with different.
name = "Jatin"
salary = 800000
age = 16

print(f'My name is {name}, age is {age}, salary is {salary}')
print('My name is {0}, salary is {1}, age is {2}'.format(name, salary, age))
print('My name is {}, age is {}, salary is {}'.format(name, age, salary))

My name is Jatin, age is 16, salary is 800000
My name is Jatin, salary is 800000, age is 16
My name is Jatin, age is 16, salary is 800000