<a href="https://colab.research.google.com/github/Jatingpt/practice_file/blob/main/practice_file.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [21]:
#write a function to find the prime number over the given range.
def check_prime(n):
  if n == 1:
    print('Not a prime number.')
  if n >= 2:
    for i in range(2,n):
      if n % i == 0:
        print('Not Prime')
        break
    else:
      print('PRIME NUMBER.')
check_prime(3)

PRIME NUMBER.

In [ ]:
low = 0
upper = 50
for i in range(low, upper + 1):
  if i

In [9]:
#Create a function where you will pass the color and you will get the frequency of the colos/words.
color = ['red', 'blue', 'pink', 'pink']
def count_color(colors, value):
  return colors.count(value)
count_color(color, 'pink')

2

In [2]:
l = [1,2,3,4,5]
l2 = [5,4,3,2,1]
def per(l,l2):
  if sorted(l) == sorted(l2):
    print('permuted list')
  else:
    print('not')
per(l,l2)

permuted list

In [ ]:
#Reverse a string using slicing and withoud slicing.
st = "ris olleh"
rev_str = " "
for i in st:
  rev_str = i + rev_str
print(rev_str)

hello sir

In [ ]:
#same above question.
st = "ris olleh"
st = st[::-1]
st

'hello sir'

In [ ]:
#Check if a string a palindrome or not.
n = "madam"
if n == n[::-1]:
  print('Yes, It is a palindrome.')
else:
  print('Not a palindrome.')

Yes, It is a palindrome.

In [ ]:
#Find a second largest number in a list.
list_num = [45, 43, 12, 67]
list_num.sort(reverse = True)
list_num[1]

45

In [ ]:
#Write a function to find the factorial of a number.
def fact(n):
  if n == 1:
    return n
  else:
    return n * fact(n-1)
fact(5)

120

In [ ]:
def even_odd(num):
  if num % 2 == 0:
    print('It is an even number.')
  else:
    print('Odd number.')
even_odd(9)

Odd number.

In [ ]:
#Write a function to check whether the number is prime or not.
def check_prime(n):
  if n == 1:
    print('Not Prime')
  if n >= 2:
    for i in range(2,n):
      if n % i == 0:
        print('Not a prime number.')
        break
    else:
      print('Prime number.')
check_prime(9)

Not a prime number.

In [ ]:
#Write a program to find the all the prime number over an interval.
low = 0
upper = 50
for num in range(low, upper+1):
  if num > 1:
    for i in range(2, num):
      if num % i == 0:
        break
    else:
      print(num)

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47

In [ ]:
#Swap two variable.
a = 45
b = 43
a,b = b,a
print(a)
print(b)

43
45

In [ ]:
#Write a program for the first 10 numbers and their square.
for i in range(1,11):
  print(i, i*i)

1 1
2 4
3 9
4 16
5 25
6 36
7 49
8 64
9 81
10 100

In [ ]:
#Write a program to find the sum for first 20 number.
sum = 0
for i in range(1,21):
  sum += i
print(sum)

210

In [ ]:
#Write the sum of first 10 even number.
sum = 0
for i in range(1,21):
  if i % 2 == 0:
    sum += i
print(sum)

110

In [ ]:
#Write a program to check whether the passed letter is a vowel or not.
vow = input('Enter the letter to check whether it is a vowel or not: ')
if vow in 'AEIOUaeiou':
  print('Yes, it is a vowel')
else:
  print('Not a vowel')

Enter the letter to check whether it is a vowel or not: e
Yes, it is a vowel

In [ ]:
#Write your name, age and salary also format with different.
name = "Jatin"
salary = 800000
age = 16

print(f'My name is {name}, age is {age}, salary is {salary}')
print('My name is {0}, salary is {1}, age is {2}'.format(name, salary, age))
print('My name is {}, age is {}, salary is {}'.format(name, age, salary))

My name is Jatin, age is 16, salary is 800000
My name is Jatin, salary is 800000, age is 16
My name is Jatin, age is 16, salary is 800000

In [ ]:
#Find the sum of first 10 even numbers using the while loop.
sum = 0
n = 0
while n <= 21:
  if n % 2 == 0:
    sum += n
  n += 1
print(sum)

110

In [ ]:
#Find the sum of first 10 odd numbers using while loop.
sum = 0
n = 0
while n <= 20:
  if n % 2 != 0:
    sum += n
  n += 1
print(sum)

100

In [ ]:
#Write a program to find the first non-repeating character.
letters = "aabbccdde"
for i in letters:
  if letters.count(i) == 1:
    print(i)
#We have another method below.

e

In [ ]:
#Write a program to find the first non-repeating character.
def non_repeating(s):
  for char in s:
    if s.count(char) == 1:
      return char
  return None
s = 'aabbccde'
result = non_repeating(s)
result

'd'

In [ ]:
#Write a program to flatten a list.
l = [[1,2], [3,4], [5,6]]
flat_list = [i for i in l for i in i]
flat_list

[1, 2, 3, 4, 5, 6]

In [ ]:
#write a program to find that two strings are anagrams.
word = 'ana'
word2 = 'nasa'
if sorted(word) == sorted(word2):
  print('Yes, these are the anagrams.')
else:
  print('These are not the anagrams.')

#We have another method to find the anagrams.

These are not the anagrams.

In [ ]:
#write a program to find that two strings are anagrams.
def is_ana(str1,str2):
  if sorted(str1) == sorted(str2):
    print('These are the anagrams.')
  else:
    print('Not an anagrams.')
is_ana('sarasa','saraas')

These are the anagrams.

In [ ]:
#write the program to find the frequency of each character of the string.
s = 'banana'
from collections import Counter
char_count = Counter(s)
char_count

Counter({'b': 1, 'a': 3, 'n': 2})

In [ ]:
#Write a program to remove the duplicates from a list while keeping the order.
l = [22, 43, 55, 67, 55]
d = list(dict.fromkeys(l))
d
#below we have other methods too check these too.

[22, 43, 55, 67]

In [ ]:
#Write a program to remove the duplicates from a list while keeping the order.
l = [33, 64, 34, 22, 33, 98, 54]
from collections import OrderedDict
sorted_list = list(OrderedDict.fromkeys(l))
sorted_list

#Below we have another method which is wrong.

[33, 64, 34, 22, 98, 54]

In [ ]:
#Write a program to remove the duplicates from a list while keeping the order.
l = [33, 64, 34, 22, 33, 98, 54]
l = set(l)
m = list(l)
m

[64, 33, 34, 98, 22, 54]

In [ ]:
#Sort a dictionary by their values.
marks = {
    'Aisha': 78,
    'Meera': 76,
    'Akshita': 54,
    'Krushika': 59
        }
for key, value in sorted(marks.items(), key = lambda x: x[1], reverse = True):
  print(key,value)

  #below we also have some answer but that answer is also wrong.

Aisha 78
Meera 76
Krushika 59
Akshita 54

In [ ]:
#Sort a dictionary by their values.
d = {'a': 1, 'c': 5, 'b': 2}
for i in d:
  print(d.values())
# for i in d.values():
#   print()

dict_values([1, 5, 2])
dict_values([1, 5, 2])
dict_values([1, 5, 2])

In [ ]:
#Sort a dictionary by their values.
d = {'a': 5, 'c': 3, 'b': 2}
for key,value in sorted(d.items(), key = lambda x: x[1]):
  print(key,value)

b 2
c 3
a 5

In [ ]:
#Sort a list by their values only.
marks = {
    "Aisha": 85,
    "Karan": 92,
    "Meera": 78,
    "Arjun": 95
}

values_list = list(marks.values())  # Convert values to list
values_list.sort()                  # Sort the list

print(values_list)

[78, 85, 92, 95]

In [ ]:
#write a program to sort a dictionary by keys.
marks = {
    "Aisha": 85,
    "Karan": 92,
    "Meera": 78,
    "Arjun": 95
        }
sort_key = list(marks.keys())
sort_key.sort()
print(sort_key)

['Aisha', 'Arjun', 'Karan', 'Meera']

In [ ]:
#Find all the even number from 1 to N without list comprehension.
for i in range(1,11):
  if i % 2 == 0:
    print(i, end = " ")

2 4 6 8 10

##**Advance Quenstions**

In [ ]:
#Merge two sorted list without using built in sort method.
import heapq
a = [1, 3, 5]
b = [2, 4, 6]
sort_list = list(heapq.merge(a,b))
sort_list

[1, 2, 3, 4, 5, 6]

In [ ]:
#rotate a list by k position.
n = [1, 2, 3, 4, 5]
def rot_list(n):
  return n[-2:] + n[:-2]
rot_list(n)

[4, 5, 1, 2, 3]

In [ ]:
#Write a program to count the null inside the dictionary.
count = 0
d = {'Name': 'Barkha', 'Age': None, 'Salary': None}
for i in d.values():
  if i == None:
    count += 1
print(count)

2

In [ ]:
#Write a program to multiply all the numbers inside a list.
mul = 1
a = [1, 2, 3, 4]
for i in a:
  mul *= i
print(mul)

24

In [ ]:
#Find the fibonacci series using for loop and input method.
def fiboncci(n):
  a,b = 0,1
  for i in range(n):
    print(a, end = " ")
    c = a + b
    a = b
    b = c
fiboncci(10)

0 1 1 2 3 5 8 13 21 34

In [ ]:
l = [22, 43, 55, 67, 55]
d = list(dict.fromkeys(l))
d

[22, 43, 55, 67]

In [ ]:
#Write a program to sort a string alphabatecally.
name = "datascience"
new_name = list(name)
new_name.sort()
sorted_str = "".join(new_name)
sorted_str

#Below also we have same answer.

'aaccdeeinst'

In [ ]:
name = "datascience"

letters = list(name)   # Convert string to list
letters.sort()         # Sort the list

sorted_name = "".join(letters)  # Convert list back to string

print(sorted_name)

aaccdeeinst

In [ ]:
#Write a program to remove the . from the string.
z = 'F.R.I.E.N.D.S'
z.replace('.', '')

'FRIENDS'

In [ ]:
#Write a program to find the number of vowels in a string.
count = 0
a = 'adkfsao'
for i in a:
  if i in 'aeiouAEIOU':
    count += 1
print(count)

3

In [ ]:
#write a program to swap first and fourth element.
names = ['Ross', 'Monica', 'Phoebe', 'Joy', 'Rachel']
names[0],names[3] = names[3],names[0]
print(names)

['Joy', 'Monica', 'Phoebe', 'Ross', 'Rachel']

In [ ]:
#Write a program to add an element at the first position.
names = ['Ross', 'Monica', 'Phoebe', 'Joy', 'Rachel']
names.insert(1, 'Chandler')
names

['Ross', 'Chandler', 'Monica', 'Phoebe', 'Joy', 'Rachel']

In [ ]:
#Write a program delete an element at 3rd position.
names = ['Ross', 'Chandler', 'Monica', 'Phoebe', 'Joy', 'Rachel']
names.pop(2)
names

['Ross', 'Chandler', 'Phoebe', 'Joy', 'Rachel']

In [ ]:
#write a program where the keys are the numbers between 1 and 10 and and values are their squares.
dic = {}
for i in range(1,11):
  dic[i] = i * i
print(dic)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

In [ ]:
#write a program to multiply the values inside a dictionary.
mul = 1
d = {1: 1, 2: 4, 3: 9}
for i in d.values():
  mul *= i
print(mul)

36

In [ ]:
#Find a program to find the max number inside a set.
s = {34, 54, 89}
max(s)

89

In [ ]:
#Write a function to find the maximum of three numbers.
def maxim(a,b,c):
  if a > b and a > c:
    print(a, 'is the max number.')
  elif b > a and b > c:
    print(b, 'is the max number.')
  else:
    print(c, 'is the max number.')
maxim(4,9,6)

9 is the max number.

In [ ]:
#Write a function to create a list from 1 to 11 and store it into a list.
l = []
for i in range(1,11):
  l.append(i*i)
print(l)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [ ]:
#write a prog which to multiply all the functions inside a list.
mul = 1
l = [1, 2, 3, 4]
for i in l:
  mul *= i
print(mul)

24

In [ ]:
#Write a function to multiply all the number inside a list.
l = [1,2,3,4]
def multiply(l):
  mul = 1
  for i in l:
    mul *= i
  return mul
multiply(l)

24

In [ ]:
#Write a program to find the cumulative sum inside a list.
a = [1, 2, 3, 4, 5]
from itertools import accumulate
cum_sum = list(accumulate(a))
cum_sum

[1, 3, 6, 10, 15]

In [ ]:
#Write a program to delete duplicates from a list while keeping the orders.
l = [8, 1, 2, 3, 3, 4, 5, 3]
sorted_list = list(dict.fromkeys(l))
sorted_list

[8, 1, 2, 3, 4, 5]

In [ ]:
#sort a dictionary by their values.
d = {'a': 5, 'b': 1, 'c': 2}
sort_l = list(d.values())
sort_l.sort()
sort_l

[1, 2, 5]

In [ ]:
#write a program to sort a string alphabetically.
s = "datascience"
l = list(s)
l.sort()

sort_str = "".join(l)
sort_str

'aaccdeeinst'

In [ ]:
#write a program to remove the only given character from the string.
z = 'F.R.I.E.N.D.S'
to_replace = '.'
new_str = z.replace(to_replace,"")
new_str

'FRIENDS'

In [ ]:
#write a program to find the total number in a string.
count = 0
s = "adfasndfnas"
for i in s:
  if i in 'aeiouAEIOU':
    count += 1
print(count)

3

In [ ]:
#Write a program to find the all the prime number over an interval.
low = 0
upper = 50
for num in range(low, upper+1):
  if num > 1:
    for i in range(2, num):
      if num % i == 0:
        break
    else:
      print(num)

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47

In [ ]:
#Extract the first name from a list.
names = ['Rohit Sharma', 'Sachin Tendulkar']
l = []
for i in names:
  print(i.split()[0])

Rohit
Sachin

In [ ]:
#Extract the first name from a list.
names = ['Rohit Sharma', 'Sachin Tendulkar']
l = []
for i in names:
  l.append(i.split()[0])
l

['Rohit', 'Sachin']

In [ ]:
#How to find the unique and duplicate elements inside a list.
l = [1,2,1,2,3,4,5,6]
unique = []
duplicate = []
for i in l:
  if l.count(i) == 1:
    unique.append(i)
  else:
    duplicate.append(i)
print(unique)
print(list(set(duplicate)))

[3, 4, 5, 6]
[1, 2]

In [ ]:
#Write a program to divide a list by n number of chunks.
l = [1, 2, 3, 4, 5, 6, 7, 8]

In [ ]:
#Find the duplicates elements from a list and store it in another list.
l = [11, 21, 12, 23, 11, 12, 34]
dup_list = []
for i in l:
  if l.count(i) > 1 and i not in dup_list:
    dup_list.append(i)
print(dup_list)

[11, 12]